@use '../../../vars';

:host {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 12px;
}

.title {
  font-weight: 600;
  color: vars.$font-color-secondary;
  white-space: nowrap;
}

.icon-button {
  display: none;
  flex-shrink: 0;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  :host {
    padding: 0;
  }

  .icon-button {
    display: block;
  }
}
