@use '../../../vars';

:host {
  padding: 0 12px;

  .title {
    position: relative;
    color: vars.$font-color-secondary;
  }
}

@media screen and (max-width: 767px) {
  :host {
    .title {
      left: 34px;
    }
  }
}
