@use '../../../vars';

:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 12px;
  font-size: 14px;
}

.user-details {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-initials {
  padding: 8px 6px;
  color: vars.$font-color-accent;
  text-transform: uppercase;
  font-weight: 600;
  background-color: vars.$bg-color-neutral;
  border-radius: 50%;
}

.user-full-name {
  color: vars.$font-color-secondary;
  font-size: 16px;
  text-transform: capitalize;
}

button {
  font-size: inherit;
}
