@use '../../../../../../vars' as vars;

:host {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;

  :last-child {
    flex-grow: 1;
    text-align: right;
  }

  .icon {
    color: vars.$card-icon-color;
  }

  &.vertical-layout {
    flex-direction: column;
  }
}
