<span mat-dialog-title>Create new dashboard</span>

<form
  class="dashboard-form"
  [formGroup]="dashboardForm"
  (submit)="submitForm($event)"
>
  <mat-dialog-content class="dialog-content">
    <mat-form-field>
      <mat-label>Id</mat-label>
      <input
        matInput
        formControlName="id"
      />

      @if (getErrorMessage(dashboardForm.controls.id, formErrorMessages.id); as error) {
        <mat-error>{{ error }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Title</mat-label>
      <input
        matInput
        formControlName="title"
      />

      @if (getErrorMessage(dashboardForm.controls.title, formErrorMessages.title); as error) {
        <mat-error>{{ error }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Icon</mat-label>
      <input
        matInput
        formControlName="icon"
      />

      @if (getErrorMessage(dashboardForm.controls.icon, formErrorMessages.icon); as error) {
        <mat-error>{{ error }}</mat-error>
      }
    </mat-form-field>
    <a
      href="https://fonts.google.com/icons"
      target="_blank"
      >List of available icons is here</a
    >
  </mat-dialog-content>

  <mat-dialog-actions align="center">
    <button
      mat-button
      matButton="outlined"
      mat-dialog-close
      type="button"
    >
      Cancel
    </button>
    <button
      mat-button
      matButton="outlined"
      type="submit"
    >
      Submit
    </button>
  </mat-dialog-actions>
</form>
