@use '../vars' as vars;

:host {
  display: flex;
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
  color: vars.$font-color-primary;
  overflow-x: hidden;

  .content {
    flex-grow: 1;
  }
}
