@use '../../vars' as vars;

:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 4px 8px;
  min-height: 100%;
  width: 232px;
  border: 1px solid vars.$border-color;
  background-color: vars.$bg-color-secondary;
  transition: width 0.3s;

  &.sidebar-closed {
    width: 54px;
    overflow-x: hidden;
  }
}
