@use '../../vars' as vars;

:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 4px 8px;
  border: 1px solid vars.$border-color;
  background-color: vars.$bg-color-secondary;
  transition: transform 0.3s;
}

@media screen and (max-width: 767px) {
  :host {
    height: 100%;
  }
}
