@let card = multiCard();
@let shouldRenderCommonToggle = displayCommonToggle();
@let commonToggleOn = isCommonToggleOn();
@let isVerticalContainerLayout = isVerticalCardLayout();
@let isVerticalItemsLayout = !isVerticalContainerLayout;
@let currentTabId = tabId();

<div class="card-header">
  <h4>{{ card.title }}</h4>
  @if (shouldRenderCommonToggle) {
    <mat-slide-toggle
      [hideIcon]="true"
      [aria-label]="card.title"
      [checked]="commonToggleOn"
      (change)="setAllDevicesStateInCard($event)"
    />
  }
</div>

<div
  class="card-content"
  [class.vertical-layout]="isVerticalContainerLayout"
>
  @for (cardItem of card.items; track cardItem.label) {
    @if (cardItem.type === 'device') {
      <app-multi-card-device
        [isVerticalLayout]="isVerticalItemsLayout"
        [multiCardDevice]="cardItem"
        [tabId]="currentTabId"
        [cardId]="card.id"
      />
    }

    @if (cardItem.type === 'sensor') {
      <app-multi-card-sensor
        [isVerticalLayout]="isVerticalItemsLayout"
        [multiCardSensorData]="cardItem"
      />
    }
  }
</div>
