@use '../../../../../vars' as vars;

:host {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px 8px;
  background-color: vars.$bg-color-secondary;
  border: 1px solid vars.$border-color;
  border-radius: vars.$border-radius-m;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-content {
  display: flex;
  gap: 16px;
  justify-content: space-around;
}
