@let card = multiCard();
@let shouldRenderCommonToggle = displayCommonToggle();
@let commonToggleOn = isCommonToggleOn();
@let isVerticalContainerLayout = isVerticalCardLayout();
@let isVerticalItemsLayout = !isVerticalContainerLayout;
@let store = dashboardStore;
@let editModeEnabled = store.editModeEnabled;

<div class="card-header">
  <h4 class="title">{{ card.title }}</h4>

  @if (shouldRenderCommonToggle) {
    <mat-slide-toggle
      [hideIcon]="true"
      [aria-label]="card.title"
      [checked]="commonToggleOn"
      (change)="setAllDevicesStateInCard($event)"
      [disabled]="dashboardStore.editModeEnabled()"
    />
  }
</div>

<div
  class="card-content"
  [class.vertical-layout]="isVerticalContainerLayout"
>
  @for (cardItem of card.items; track cardItem.id) {
    @if (cardItem.type === 'device') {
      <app-multi-card-device
        [isVerticalLayout]="isVerticalItemsLayout"
        [multiCardDevice]="cardItem"
        [cardId]="card.id"
      />
    }

    @if (cardItem.type === 'sensor') {
      <app-multi-card-sensor
        [isVerticalLayout]="isVerticalItemsLayout"
        [multiCardSensor]="cardItem"
      />
    }
  } @empty {
    <p class="empty-card-message">{{ EMPTY_CARD_MESSAGE }}</p>
  }
</div>

@if (editModeEnabled()) {
  <app-card-actions [cardId]="card.id" />
}
