@use '../../vars';

.dashboard-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 50px;
  padding: 4px 12px 0;
  background-color: vars.$bg-color-accent;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: vars.$border-color;
  }

  &.edit-mode {
    background-color: vars.$bg-color-active;
  }
}

.actions {
  align-self: flex-end;
}

.tabs-container {
  flex-grow: 1;
}

.tab-item {
  display: flex;
  align-items: center;
  gap: 2px;
  transition: width 0.2s;

  &.active {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      z-index: 2;
      bottom: 0;
      height: 2px;
      width: 100%;
      background-color: vars.$border-color-active;
    }
  }
}

.tab-item.active button {
  color: vars.$icon-color-active;
}

.view-mode-actions,
.edit-mode-actions {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  flex-grow: 0;
  flex-shrink: 0;
}

@media screen and (max-width: 767px) {
  .dashboard-bar {
    padding: 4px 4px 0;
  }
}
