@let dashboard = activeDashboard();

@if (dashboard.status() === 'loading') {
  <mat-progress-spinner
    class="spinner"
    mode="indeterminate"
    aria-label="Loading"
  />
} @else if (dashboard.status() === 'error') {
  <p>Dashboard not found</p>
} @else if (dashboard.status() === 'resolved' && dashboard.value()) {
  @let tabList = dashboard.value()?.tabs;

  @if (tabList?.length) {
    <nav
      mat-tab-nav-bar
      [tabPanel]="dashboardTabPanel"
      [animationDuration]="0"
      mat-stretch-tabs="false"
      class="dashboard-tabs"
    >
      @for (tab of tabList; track $index) {
        <a
          mat-tab-link
          [routerLink]="['.', tab.id]"
          routerLinkActive
          #rla="routerLinkActive"
          [active]="rla.isActive"
        >
          {{ tab.title }}
        </a>
      }
    </nav>
  }

  <mat-tab-nav-panel #dashboardTabPanel>
    <router-outlet />
  </mat-tab-nav-panel>
}
