// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use './_theme-colors' as custom-theme;
@use './vars' as vars;

$custom-dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: custom-theme.$primary-palette,
      tertiary: custom-theme.$tertiary-palette,
    ),
    typography: (
      brand-family: 'Roboto',
      plain-family: 'Roboto',
    ),
    density: (
      scale: 0,
    ),
  )
);

html {
  @include mat.all-component-themes($custom-dark-theme);

  color-scheme: dark;

  @media (forced-colors: active) {
    @include custom-theme.high-contrast-overrides(dark);
  }

  @include mat.slide-toggle-overrides(
    (
      unselected-handle-size: 20px,
      selected-handle-size: 20px,
      pressed-handle-size: 20px,
      track-height: 16px,
      track-width: 40px,
      track-outline-width: 0,
      unselected-handle-horizontal-margin: 0,
      state-layer-size: 22px,
    )
  );

  @include mat.tabs-overrides(
    (
      container-height: 40px,
    )
  );

  @include mat.form-field-overrides(
    (
      filled-input-text-placeholder-color: vars.$input-placeholder-color,
      filled-container-color: vars.$bg-color-neutral,
      filled-active-indicator-color: vars.$border-color-secondary,
    )
  );

  @include mat.dialog-overrides(
    (
      container-color: vars.$bg-color-secondary,
      container-shape: var(--mat-sys-shape-corner-large),
    )
  );

  .large-dialog {
    @include mat.dialog-overrides(
      (
        container-min-width: 50%,
        container-max-width: 100vw,
        actions-padding: 12px 24px 32px,
        with-actions-content-padding: 20px 40px,
      )
    );
  }

  font-family: vars.$font-family-Roboto;
}

.mat-mdc-form-field {
  width: 100%;
}

[mat-dialog-title] {
  text-align: center;
  border-bottom: 1px solid vars.$border-color-secondary;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  background-color: vars.$bg-color-primary;
}

.empty-dashboard {
  margin-top: 60px;
  text-align: center;
  line-height: 1.5;
  color: vars.$font-color-secondary;
}

a {
  color: inherit;
}

h2 {
  font-size: 28px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

h4 {
  font-size: 20px;
  font-weight: 400;
}

.spinner {
  margin: 20% auto;
}

.dashboard-icon {
  color: vars.$card-icon-color;
}

.dashboard-icon.active {
  color: vars.$icon-color-active;
}

.sensor-icon {
  color: vars.$icon-color-non-switchable;
}

.disabled {
  color: vars.$icon-color-non-switchable;
}

.vertical-layout {
  flex-direction: column;
}

.multi-card-content {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;

  :last-child {
    flex-grow: 1;
    text-align: right;
  }
}

.empty-card-message {
  padding: 24px 2px;
  color: vars.$font-color-secondary;
  font-size: 12px;
  letter-spacing: 0.08em;
  text-align: center;
}
