$bg-color-primary: #111111;
$bg-color-secondary: #1c1c1c;
$bg-color-accent: #101e24;
$bg-color-active: #192e37;
$bg-color-neutral: #282828;

$font-family-Roboto: 'Roboto', sans-serif;

$font-color-primary: #f1f1f1;
$font-color-secondary: #929292;
$font-color-accent: #02a7f0;
$font-color-warning: #ffb4ab;
$font-color-hover: #81afde;

$border-color: #2c3136;
$border-color-secondary: #3b3b3b;
$border-color-active: #8cceff;
$border-color-hover: #31628c;
$border-radius-s: 8px;
$border-radius-m: 16px;

$card-icon-color: #44739e;
$icon-color-active: #d9b55c;
$icon-color-non-switchable: #4e5358;

$input-placeholder-color: #8c9197;
