@use '../../../../../../vars' as vars;

:host {
  display: flex;
  justify-content: space-between;

  .content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .label {
    color: vars.$font-color-secondary;
  }

  .icon {
    color: vars.$card-icon-color;
  }
}
